@charset "utf-8";

* {
    font-family: sans-serif, serif, "メイリオ";
}
header {
     background-color: rgb(255, 252, 174);
}
h1 {
    background-color: rgb(255, 254, 174);
}

h2 {
    color: rgb(53, 59, 172);

    line-height: 1rem;

    text-align: center;
    
    text-align: justify;
}

h3 {
    color: rgb(133, 139, 255);

    line-height: 1rem;

    text-align: center;
    
    text-align: justify;
}

h4{
    color: rgb(145, 150, 0);

    line-height: 1rem;

    text-align: center;
    
    text-align: justify;
}

.blue {
    color: hsl(241, 85%, 60%);
}

a:hover {
    font-size: 2em;
}

main {
    background-color: lch(85.65% 26.43 224.12 / 0.737);
}

ul {
    list-style: georgian;
}